*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 90px;
    background-color:#324572;
}

.cabecalho_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #ffff;
    font-size: 20px;
}

.logo{
    width: 70px;
    height: 70px;
    padding: 10px 0 10px 20px;
}

.cabecalho_sobre, .cabecalho_cadastro, .cabecalho_buscar, .cabecalho_perfil{
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    padding: 34px 20px 34px 20px;
    font-weight: bold;
}

.cabecalho_sobre:hover, .cabecalho_cadastro:hover, .cabecalho_buscar:hover, .cabecalho_perfil:hover{
    background-color: #f8f8f8;
    color: #324572;
    font-weight: bold;
    transition: all 0.4s;
    text-decoration: none;
}

.container{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-bottom: 50px;
}

.estrutura_1{
    width: 55%;
    height: 100%;
}

.new-register-form-title{
    font-weight: 800;
    padding: 20px 0 10px 0;
}

.estrutura_2{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #888888;
    text-align: center;
    padding: 10px 0 20px 0;
    background-color: #ffff;
    overflow: visible;
}

@media (max-width: 450px){

    .estrutura_2{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #888888;
        text-align: center;
        padding: 20px 30px 20px 30px;
    }

}

.new-register-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

fieldset {
    border: 0;
}

fieldset.grupo .campo {
    float: center;
    margin: 5px 10px;
    padding: 0 10px;
}

@media (min-width: 1310px){

    fieldset.grupo .campo {
        float: left;
        padding: 0 10px;
    }

}

.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    font-weight: bold;
    display: block;
    text-align: left;
    padding: 10px 0px 5px;
}

input{
    width: 270px;
    line-height: 30px;
    font-size: 15px;
    outline: none;
    border: transparent;
    border-radius: 15px;
    box-shadow: 0px 2px 6px #888888;
    padding: 0px 10px 0px 20px;
}

input:hover{
    border: transparent;
    box-shadow: 0px 0px 10px #324572;
}

#conservacao{
    width: 300px;
    height: 30px;
    font-size: 15px;
    color: #000000;
    outline: none;
    border: transparent;
    border-radius: 15px;
    box-shadow: 0px 2px 6px #888888;
    padding-left: 20px;
    -webkit-appearance: none;
    background-image: url(/imagens/seta_baixo.png);
    background-repeat: no-repeat;
    background-position: 275px;
    background-size: 20px;
}

#conservacao:hover{
    border: transparent;
    box-shadow:0px 0px 10px #324572;
    background-blend-mode: hard-light;
}

.button{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button_a{
    padding: 1% 20%;
    margin: 10px 10px;
    border-radius: 15px;
    border: 2px solid #0098DA;
    color: #ffff;
    background-color: #0098DA;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    transition-duration: 0.4s;
    text-decoration: none;
}

.button_a:hover {
    background-color: #ffff;
    color: #0098DA;
    cursor: pointer;
}

.footer {
    width: 100%;
    min-height: 100px;
    background: #324572;
    color: #FFFAD5;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_endereco{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer_direitos{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer_redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook, .instagram, .twitter, .youtube{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    box-shadow: 0px 0px 2px #000000;
}

@media(max-width: 700px){
    .footer{
        flex-direction: column;
    }
    
    .footer_endereco{
        margin-top: 50px;
    }

    .footer_redes{
        margin: 50px;
    }
}